html {
    scroll-behavior: smooth;
    cursor: none; 
}
body {
    overflow-x: hidden;
    margin: 0;
    /* Background image */
    background-image: url('bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
        /* --- MENU ACTIVE STATE & SCROLL OFFSET --- */
.menu a.active {
  color: #fc7c7c; 
}

#home, 
#about, 
#demo {
  scroll-margin-top: 121px;
}
